#logo {
  font-family: 'Audiowide';
  display: block;
  width: 110px;
  font-size: 1.4em;
  line-height: 0.8em;
  padding: .5em;
}
#logo br {
  display: block;
  margin: 0;
}
#logo #big {
  font-weight: 900;
}
#logo #small {
  font-size: 0.6em;
}

#logo, .placement1 {
  transform: scale(2,2) translate(50%, 25%); 
  background-color: #894EE8;
  color: white;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 100;
  border-radius: 2px;
}

@media screen and (max-width: 768px){
  #logo, .placement1 {
    transform:none; 
  }
}