.singer {
    width: 300px;
    margin: 0 10px;
    padding: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.singer .singerIcon{
   width: 100%;
   border-radius: 100%; 
}

@media screen and (max-width: 768px){
    .singer {
        width: 100%;
        margin: 2rem 0;
        padding: 0; 
        height: 170px;
        margin-top: 1em;
        display: block;
        line-height: 170px;
    }
    .singer .singerIcon{
        width: 30%;
        display: inline-block;
    }
    .singer .content{
        text-align: left;
        line-height: 1.2rem;
        padding-left: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 65%;
        display: inline-block;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
    }
    .singer .content h3{
        margin: 0;
    }
}